.body{
	box-sizing: border-box;
}
.caja, .info{
	height: 150px;
	width: 600px;
	align-content: center;
	padding-left: 400px;
	padding-top: 40px;
}
#azul, #rojo, #amarillo {
	border-radius: 60px;
	height: 120px;
	width: 120px;
	color: white;
	font-family: sans-serif;
	float: left;
	margin-left: 50px;
}
#azul{
	background-color: blue;
}
#rojo{
	background-color: red;
}
#amarillo{
	background-color: yellow;
}
.border-blue{
	border: 3px solid blue;
}
.border-red{
	border: 3px solid red;
}
.border-yellow{
	border: 3px solid yellow;
}